.TasksPage {
  &__item {
    background-color: #f7f6f3;
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    justify-content: space-between;

    &Content {
      margin-left: 10px;
      width: 100%;
    }

    &Title {
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #131313;
    }

    &_active {
      background-color: #fff8dd;
    }

    &:hover {
      background-color: #edeae1;
    }
  }
}