.Menu {
  padding: 0;
  &__list {
    display: flex;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  &__route .selected {
    opacity: 1;
  }
  &__route .selected:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -14px;
    left: 0;
    background-color: #ffc200;
  }
  &__route &__link {
    transition: 0.6s;
    position: relative;
  }
  &__route:hover &__link {
    opacity: 1;
    color: #000;
  }
  &__route:not(:last-child) {
    padding-right: 30px;
  }
  &__link {
    font-family: Heebo, sans-serif;
    text-decoration: none;
    color: #131313;
    font-size: 16px;
    opacity: 0.7;
    font-weight: bold;
  }
}
