.AddComment {
  display: flex;
  align-items: flex-start;
  &__input {
    background-color: #eaeaea;
    border: none;
    width: 100%;
    outline: none;
    padding: 10px;
    margin: 0 10px;
    height: 40px;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
    &::placeholder {
      font-size: 14px;
    }
  }
  &__send {
    background-color: #cef9c6;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    border: none;
  }
}
