.days-of-month {
  display: flex;
  box-sizing: border-box;
  padding-left: 25px;
  width: 100%;
  color: #858483;
  font-family: Heebo, sans-serif;
  flex-wrap: wrap;
  .month {
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    &__day {
      font-size: 18px;
      font-weight: 600;
    }
    &__task {
      font-size: 14px;
      color: #000;
      font-weight: 600;
    }
    &__active {
      background-color: #FFF8DD!important;
    }
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .day-of-month {
    background-color: #F7F6F3;
    width: 77px;
    height: 77px;
    margin: 2.5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    &:hover {
      background-color: #D7D5CF;
    }
    &.pass {
      background: none;
      color: #fff;
      cursor: not-allowed;
    }

    &.future {
      color: rgba(#fff, 0.2);
    }

    &.active {
      color: #000;
      font-weight: bold;
    }

    &.has-event {
      position: relative;

      &::after {
        content: '';
        width: 6px;
        height: 6px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 4px;
      }
    }
  }

  .dayOff {
    background-color: #F6E9E9;
    &:hover {
      background-color: #E9CACA;
    }
  }
}