.CalendarPage {
  height: 100%;
  display: flex;
  justify-content: space-between;
  &__calendar {
    padding: 30px 0 30px 0;
    overflow: scroll;
    height: 100%;
    max-width: 640px;
    box-sizing: border-box;
    background-color: #fff;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__task {
    max-width: 100%;
    width: 100%;
    padding: 30px;
    margin-left: 30px;
    background-color: #fff;
  }
}