@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  display: flex;
  height: 100vh;
  background-color: #EEEBE5;
}
.App__page {
  width: 100%;
  display: flex;
  flex-direction: column;
}