.TasksPage {
  &__top {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .DayPickerInput input {
    outline: none;
    margin-top: 5px;
    background: #eaeaea;
    border-radius: 8px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }
  &__button {
    cursor: pointer;
    transition: 0.5s;
    padding: 0 20px;
    border: 0;
    background: #cef9c6;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #1d201c;

    &:hover {
      background: #9ae38c;
    }
  }
}